<HTML lang="en">
    <Head>
            <title>Simple page test</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/css/main.css" />
            <script type="text/javscript" src="/js/main.js"></script>
    </Head>
    <body>
        
 